# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Model Checkpoints
# =========================
*.pth
*.pt
*.ckpt

# =========================
# Dataset
# =========================
data/raw/*
data/processed/*

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary
# =========================
*.tmp
*.temp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Experiment outputs
# =========================
experiments/logs/*
experiments/results/*
experiments/figures/*git add .